.git
.gitignore
.vscode/**
.vscode-test/**
out/test/**
src/**
.gitattributes
.eslintrc.json
tsconfig.json
**/*.map
**/*.ts
.vscodeignore
test.esi
Desktop.ini
images/Problems.png
images/Animation.gif
**/.DS_Store
*.vsix
.github/**
**/test/**
**/tests/**
**/__tests__/**
scripts/**
coverage/**
.nyc_output/**
.c8rc.json
.mocharc.json
eslint.config.cjs
icons/*.svg
!syntaxes/**
!snippets.json
!language-configuration.json
!icons/*.woff