.git
.gitignore
.vscode/**
.vscode-test/**
out/test/**
src/**
.gitattributes
.eslintrc.json
tsconfig.json
**/*.map
**/*.ts
.vscodeignore
node_modules/**
!node_modules/@google/generative-ai/**
test.esi
Desktop.ini
images/Problems.png
images/Animation.gif
**/.DS_Store
*.vsix
.github/**
**/test/**
**/tests/**
**/__tests__/**
!syntaxes/**
!snippets.json
!language-configuration.json